/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #212529;
  background-color: white;
  letter-spacing: 1px;
}
button {
  background-color: rgb(255, 14, 131);
  color: white;
  border: white solid 1px;
  border-radius: 5%;
  padding: 12px 32px;
  font-size: 0.87rem;
  letter-spacing: 1px;
  transition: all 0.5s;
  cursor: pointer;
}
h2 {
  text-align: center;
  font-size: 3rem;
  color: black;
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: 2;
}

/* HEADER  */
header {
  background-color: rgb(78, 42, 132);
  width: 100%;
  z-index: 100;
  position: fixed;
  padding: 20px 0;
}
.header__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.header__content ul li {
  list-style: none;
  display: inline;
  margin: auto 1rem;
}
.header__content ul {
}
.header__content p {
  font-size: 2.3rem;
  color: white;
}
.header__content ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 0.75rem;
  font-weight: 700;
  /* padding: 0 0.3rem; */
  letter-spacing: 2px;
  transition: auto 0.5s;
}
.header__content ul .active {
  color: rgb(255, 14, 131);
}

.header__content ul a:hover {
  color: rgb(255, 14, 131);
}

/* CAROUSEL */
.carousel {
  background-image: url(../img/b3.jpg);
  height: 800px;
  background-size: cover;
  background-position: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel__content h1 {
  font-weight: bold;
  font-size: 3rem;
  color: white;
}
.carousel__content p {
  color: white;
  margin: 20px 0;
}

.carousel__content button:hover {
  background-color: white;
  color: black;
  border: rgb(255, 14, 131) solid 1px;
}

/* INTRO  */
.intro {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.intro__item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro__ab1 {
  grid-column: 2 / span 2;
}

.intro__bake {
  grid-column: 1 / span 2;
}
.intro__quality {
  grid-column: 3 / span 2;
}
.intro__item img {
  width: 100%;
  display: block;
}
.intro__item h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 1rem;
}
.intro__item p {
  font-size: 0.85rem;
  color: white;
  line-height: 23px;
}
.intro .intro__item:first-child,
.intro .intro__item:nth-child(8) {
  background-color: #4e2a84;
}
.intro .intro__item:nth-child(3) {
  background-color: #ff0e83;
}
.intro .intro__item:nth-child(4) {
  background-color: #ed6498;
}
.intro .intro__item:nth-child(6) {
  background-color: #836eaa;
}

/* NUMBER */
.number {
  padding: 4rem 0;
}
.number .number__content {
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.num {
  font-weight: 700;
  font-size: 2rem;
  color: #4e2a84;
}
.number__item p:last-of-type {
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 3px;
  padding: 1rem 0;
}

/* SERVICES */

.services {
  background-image: url("../img/s1.jpg");
  background-size: cover;
  padding: 70px 0;
  text-align: center;
}
.services__content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.services__item {
  padding: 0 20px;
  text-align: center;
}
.services h2 {
  color: white;
  font-size: 3rem;
  margin-bottom: 3rem;
}
.services__item h3 {
  font-size: 1.5rem;
  font-weight: 300;
  margin: 20px 0;
}

.services__item p {
  line-height: 25px;
  margin-bottom: 12px;
}
.services__item button {
  padding: 12px 27px;
  border-width: 2px;
}
.services__item i {
  font-size: 3.75rem;
  width: 105px;
  height: 105px;
  line-height: 105px;
  border: 1px solid #4e2a84;
  background-color: white;
  border-radius: 50%;
  color: #4e2a84;
}
.services__item i:hover {
  color: #ff0e83;
  border-color: #ff0e83;
}
.services__item button:hover {
  background-color: white;
  color: black;
  border: rgb(255, 14, 131) solid 2px;
}

/* GALLERY */
.gallery {
  margin: 50px 0;
}

.gallery__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 0 15px;
}
.gallery__item span {
  font-size: 600;
}

.gallery__content .gallery__item1 {
  grid-column: 1 / span 2;
}
.gallery__content .gallery_item6 {
  grid-column: 3 / span 2;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  display: block;
}
.gallery__item {
  position: relative;
  overflow: hidden;
}
.gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(48, 132, 163, 0.2);
  color: white;
  text-align: right;
  padding: 38px 28px;
}
.gallery__overlay p {
  position: absolute;
  bottom: 38px;
  right: 28px;
  font-size: 0.75rem;
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.5s;
}

.gallery__item .gallery__overlay h3 {
  /* font-size: 2rem; */
  font-weight: 300;
  transform: translateY(20px);
  transition: all 0.5s;
}
.gallery__overlay h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: white;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.5s;
}

.gallery__item:hover .gallery__overlay h3 {
  transform: translateY(0px);
}
.gallery__item:hover .gallery__overlay p,
.gallery__item:hover .gallery__overlay h3::after {
  transform: translateY(0px);
  opacity: 1;
}

/* TEAM */

.team {
  background-color: #4e2a84;
  padding: 20px 20px 70px;
}
.team h2 {
  color: white;
  margin: 20px 0 45px;
}
.team__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}

.team__item {
  position: relative;
  /* overflow: hidden; */
}

.team__item img {
  width: 100%;
  display: block;
  height: 100%;
}

.team__title {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ff0e83;
  color: white;
  width: 100%;
  padding: 30px;
  opacity: 1;
  transition: all 0.5s;
}
.team__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 100px 40px;
  opacity: 0;
  transition: all 0.5s;
}

.team__item .team__title p {
  color: white;
}
.team__item:hover .team__title {
  opacity: 0;
}
.team__item:hover .team__overlay {
  opacity: 1;
}
.team__overlay span {
  color: #ff0e83;
  font-weight: 400;
  font-size: 2rem;
}
.team__socials {
  margin-top: 24px;
}
.team__socials i {
  width: 37px;
  height: 37px;
  border: 1.5px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 37px;
  margin: 0 5px;
  transition: all 0.5s;
}
.team__socials i:hover {
  border-color: #ff0e83;
  color: #ff0e83;
}

/* FEEDBACK */
.feedback {
  background-image: url(../img/cc1.jpg);
  background-size: cover;
  padding: 70px 0;
}
.feedback h2 {
  color: white;
}
.feedback__content {
  width: 70%;
  margin: 0 auto;
}
.feedback__content .owl-carousel .item {
  text-align: left;
  padding: 50px;
  border: #ff0e83 solid 3px;
  background-color: rgba(255, 255, 255, 0.5);
}
.feedback__content .owl-carousel .item p {
  color: white;
}
.feedback__content .owl-carousel .item i {
  font-size: 1.3rem;
  color: #2cbeff;
  padding: 0 18px;
}
.feedback__content .owl-dots .owl-dot.active span {
  background-color: #212529;
}
.feedback__content .owl-carousel .item .feeback__name {
  text-align: center;
  color: #ff0e83;
}

/* CONTACT */
.contact {
  padding: 30px 0;
}
.contact__form form {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 30px;
}

.contact__form textarea,
.contact__form button {
  grid-column: 1 / span 2;
}
.contact__form input {
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s;
}

.contact__form input:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.contact__form textarea {
  border: 1px solid black;
  resize: none;
}

.contact__form textarea:focus {
  outline: none;
}

.contact__form textarea::placeholder {
  color: black;
}

.contact__form button {
  border-radius: 0px;
  color: black;
}

.contact__form button:hover {
  color: white;
  background-color: black;
  border-color: black;
}

.contact__map iframe {
  width: 100%;
  margin-top: 50px;
}

.contact__info {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 50px;
}

.contact__info i {
  font-size: 2rem;
  color: #4e2a84;
}
.contact__info p {
  font-size: 0.8rem;
  margin: 10px 0;
}

/* FOOTER  */
footer {
  padding: 50px 0;
  background-color: black;
  color: white;
}

.footer__main {
  width: 70%;
  margin: 0 auto;

  display: flex;
  padding-bottom: 50px;
}
.footer__item {
  width: 25%;
  padding: 0 20px;
}
.footer__item h3 {
  font-size: 1.3rem;
  color: #ff0e83;
  margin-bottom: 1rem;
}
.footer__item p {
  font-size: 0.8rem;
  line-height: 28px;
  padding-bottom: 1rem;
}
.footer__socials i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-right: 10px;
  border: 1px solid white;
  transition: all 0.5s;
}
.footer__socials i:hover {
  color: #ff0e83;
  border-color: #ff0e83;
}

.footer__time {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted white;
}
.footer__time p {
  padding: 0;
  margin: 10px 0;
}

.footer__item .footer__sub input {
  margin-bottom: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.footer__item .footer__sub input:focus {
  outline: none;
}

.footer__item .footer__sub button {
  padding: 7px 16px;
  color: black;
  border-color: #ff0e83;
  font-weight: 700;
  margin-bottom: 24px;
}

.footer__item .footer__sub button:hover {
  border-color: black;
}

.footer__copyright {
  text-align: center;
  font-size: 0.8rem;
}

.footer__copyright span {
  color: #ff0e83;
}

/* Back to top */
.backToTop {
  position: fixed;
  right: 50px;
  bottom: 50px;
  visibility: hidden;
  opacity: 0;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
.backToTop i {
  color: #0bbbcc;
  border: 2px solid #0bbbcc;
  width: 40px;
  height: 40px;
  font-size: 2rem;
  text-align: center;
  line-height: 36px;
  border-radius: 50%;
}
